@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
}

/* Custom scrollbar for insights stream */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
